/config.mk
/ghcli
/src/*.o
/thirdparty/pdjson/pdjson.o
/thirdparty/sn/sn.o
/TAGS
*.d
/include/ghcli/github/repos.h~
/src/github/repos.c~
/src/github/repos.o
/include/ghcli/github/comments.h~
/src/github/comments.c~
/src/github/comments.o
/include/ghcli/github/forks.h~
/src/github/forks.c~
/src/github/forks.o
/include/ghcli/github/pulls.h~
/src/github/pulls.c~
/src/github/pulls.o
/include/ghcli/github/issues.h~
/src/github/issues.c~
/src/github/issues.o
/include/ghcli/github/releases.h~
/src/github/releases.c~
/src/github/releases.o
/include/ghcli/forges.h~
/src/forges.c~
/include/ghcli/gitlab/config.h~
/include/ghcli/gitlab/issues.h~
/src/github/config.c~
/src/github/config.o
/src/gitlab/config.c~
/src/gitlab/config.o
/src/gitlab/issues.c~
/src/gitlab/issues.o
/ghcli.core
/include/ghcli/gitlab/merge_requests.h~
/src/gitlab/merge_requests.c~
/src/gitlab/merge_requests.o
/src/gitlab/repos.o
/src/github/api.o
/src/gitlab/api.o
/include/ghcli/gitlab/comments.h~
/src/gitlab/comments.c~
/src/gitlab/comments.o
/include/ghcli/gitlab/forks.h~
/src/gitlab/forks.c~
/src/gitlab/forks.o
/include/ghcli/gitlab/releases.h~
/src/gitlab/releases.c~
/src/gitlab/releases.o
/include/ghcli/github/review.h~
/include/ghcli/gitlab/review.h~
/src/github/review.c~
/src/github/review.o
/src/github/reviews.c~
/src/gitlab/review.c~
/src/gitlab/review.o
/docs/ghcli-snippets.1~
/libghcli.a
/tests/Makefile~
/tests/json_escape/expected.stdout~
/tests/json_escape/json_escape
/tests/json_escape/json_escape.o
/tests/test.mk~
/include/ghcli/status.h~
/src/github/status.c~
/src/github/status.o
/src/status.c~
/src/gitlab/status.c~
/src/gitlab/status.o
/tests/url-encode/Makefile~
/tests/url-encode/expected.stdout~
/tests/url-encode/url-encode
/tests/url-encode/url-encode.core
/tests/url-encode/url-encode.c~
/tests/url-encode/url-encode.o
/include/ghcli/color.h~
/src/color.c~
/include/ghcli/labels.h~
/src/labels.c~
/src/gitlab/labels.c~
/src/gitlab/labels.o
/include/ghcli/gitlab/labels.h~
/include/ghcli/github/labels.h~
/src/github/labels.c~
/src/github/labels.o
/include/ghcli/github/checks.h~
/src/github/checks.c~
/src/github/checks.o
/include/ghcli/gitlab/pipelines.h~
/src/gitlab/pipelines.c~
/src/gitlab/pipelines.o
/include/ghcli/gitea/config.h~
/include/ghcli/gitea/issues.h~
/src/gitea/config.c~
/src/gitea/config.o
/src/gitea/issues.c~
/src/gitea/issues.o
/include/ghcli/gitea/comments.h~
/src/gitea/comments.c~
/src/gitea/comments.o
/src/gitea/labels.c~
/src/gitea/labels.o
/include/ghcli/gitea/labels.h~
/include/ghcli/gitea/pulls.h~
/src/gitea/pulls.c~
/src/gitea/pulls.o
/include/gcli/comments.h~
/include/gcli/status.h~
/include/gcli/config.h~
/include/gcli/curl.h~
/include/gcli/editor.h~
/include/gcli/forges.h~
/include/gcli/forks.h~
/include/gcli/ghcli.h~
/include/gcli/gists.h~
/include/gcli/gitconfig.h~
/include/gcli/gitea/comments.h~
/include/gcli/gitea/issues.h~
/include/gcli/gitea/labels.h~
/include/gcli/gitea/pulls.h~
/include/gcli/github/api.h~
/include/gcli/github/checks.h~
/include/gcli/github/comments.h~
/include/gcli/github/forks.h~
/include/gcli/github/issues.h~
/include/gcli/github/labels.h~
/include/gcli/github/pulls.h~
/include/gcli/github/releases.h~
/include/gcli/github/repos.h~
/include/gcli/github/review.h~
/include/gcli/github/status.h~
/include/gcli/gitlab/api.h~
/include/gcli/gitlab/comments.h~
/include/gcli/gitlab/forks.h~
/include/gcli/gitlab/issues.h~
/include/gcli/gitlab/labels.h~
/include/gcli/gitlab/merge_requests.h~
/include/gcli/gitlab/releases.h~
/include/gcli/gitlab/repos.h~
/include/gcli/gitlab/review.h~
/include/gcli/gitlab/status.h~
/include/gcli/issues.h~
/include/gcli/json_util.h~
/include/gcli/labels.h~
/include/gcli/pulls.h~
/include/gcli/releases.h~
/include/gcli/repos.h~
/include/gcli/review.h~
/include/gcli/snippets.h~
/gcli
/libgcli.a
/src/gcli.c~
/include/gcli/gitea/repos.h~
/src/gitea/repos.c~
/src/gitea/repos.o
/tools/gentarball.sh~
/include/gcli/gitea/forks.h~
/src/gitea/forks.c~
/src/gitea/forks.o
/tests/json-escape
/tests/url-encode
/tests/github-tests
/include/gcli/github/parsers/issues.h~
/include/gcli/pgen.h
/src/pgen/lexer.o
/src/pgen/parser.o
/include/gcli/pgen.h~
/pgen
/y.tab.h
/src/pgen/dump_plain.o
/src/pgen/dump_c.o
/foo
/templates/github/issues.c
/templates/github/issues.o
/src/pgen/lexer.c
/src/pgen/parser.c
/tests/github-tests.o
/tests/json-escape.o
/tests/url-encode.o
/gen/
/tests/pgen-tests
/tests/pgen-tests.o
/templates/github/forks.o
/templates/github/forks.c
/templates/github/forks.t~
/templates/github/pulls.c
/templates/github/pulls.o
/templates/github/pulls.t~
/templates/github/labels.c
/templates/github/labels.o
/templates/github/labels.t~
/templates/github/checks.c
/templates/github/checks.o
/templates/github/checks.t~
/templates/github/releases.c
/templates/github/releases.o
/templates/github/releases.t~
/templates/github/status.c
/templates/github/status.o
/templates/github/status.t~
/templates/github/comments.c
/templates/github/comments.o
/templates/github/comments.t~
