/tags
/gcli
/libgcli.a
/templates/*/*.c
/templates/*/*.h
/Makefile
/config.h
# build artifacts
/gcli-*.tar.bz2
/gcli-*.tar.gz
/gcli-*.tar.xz
/install-sh
/src/pgen/parser.h
/**/*.o
/**/*.a
/**/*.d
/src/pgen/lexer.c
/src/pgen/parser.c
/pgen
/libgcli.pc
build/**
/y.tab.c
/y.tab.h
/y.tab.pgen.d
/y.tab.pgen.o
/gcli_*.console.log
/gcli_*.srv.log
/gcli_*.srv.out.*
/lex.yy.c
/lex.yy.pgen.d
/lex.yy.pgen.o
