/config.mk
/ghcli
/src/*.o
/thirdparty/pdjson/pdjson.o
/thirdparty/sn/sn.o
/TAGS
*.d
/include/ghcli/github/repos.h~
/src/github/repos.c~
/src/github/repos.o
/include/ghcli/github/comments.h~
/src/github/comments.c~
/src/github/comments.o
/include/ghcli/github/forks.h~
/src/github/forks.c~
/src/github/forks.o
/include/ghcli/github/pulls.h~
/src/github/pulls.c~
/src/github/pulls.o
/include/ghcli/github/issues.h~
/src/github/issues.c~
/src/github/issues.o
/include/ghcli/github/releases.h~
/src/github/releases.c~
/src/github/releases.o
/include/ghcli/forges.h~
/src/forges.c~
/include/ghcli/gitlab/config.h~
/include/ghcli/gitlab/issues.h~
/src/github/config.c~
/src/github/config.o
/src/gitlab/config.c~
/src/gitlab/config.o
/src/gitlab/issues.c~
/src/gitlab/issues.o
/ghcli.core
/include/ghcli/gitlab/merge_requests.h~
/src/gitlab/merge_requests.c~
/src/gitlab/merge_requests.o
/src/gitlab/repos.o
/src/github/api.o
/src/gitlab/api.o
