/gcli-api.1
/gcli-comment.1
/gcli-config.1
/gcli-forks.1
/gcli-gists.1
/gcli-issues.1
/gcli-labels.1
/gcli-milestones.1
/gcli-pipelines.1
/gcli-pulls.1
/gcli-releases.1
/gcli-repos.1
/gcli-snippets.1
/gcli-status.1
/gcli.1
/gcli.5
